.authFormTitle {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
}

.authFormInput {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

.authFormInput::placeholder {
  color: #ffffff;
  opacity: 0.4;
}

.authFormInput input::placeholder {
  color: #ffffff;
  opacity: 0.4;
}

.authFormInput svg {
  fill: rgba(255, 255, 255, 0.4);
}

.authFormInput:-webkit-autofill,
.authFormInput:-webkit-autofill:hover,
.authFormInput:-webkit-autofill:focus,
.authFormInput:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.authFormInput input:-webkit-autofill,
.authFormInput input:-webkit-autofill:hover,
.authFormInput input:-webkit-autofill:focus,
.authFormInput input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.fadeIn {
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}
