@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  margin: 0 auto;
  min-height: 80vh;
  max-width: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  padding: 2rem;
  @media (min-width: 48em) {
    flex-direction: row-reverse;

    padding: 3.5rem;
  }
  @media (min-width: 64em) {
    padding-top: 4.5rem;
  }
}
